<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

	<context:property-placeholder location="classpath:myProperties.properties"/>
	
    <bean id="map1" class="java.util.HashMap">
        <constructor-arg>
            <map>
                <entry key="iPhone" value="${value1}"/>
                <entry key="Pixel" value="${value2}"/>
                <entry key="Oppo" value="${value3}"/>
                <entry key="Vivo" value="${value4}"/>
            </map>
        </constructor-arg>
    </bean>
    <bean id="map" class="task2.ques2.assignment.map">	
        <constructor-arg ref="map1"/>
    </bean>

</beans>
