<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="map1" class="java.util.HashMap">
        <constructor-arg>
            <map>
                <entry key="KK" value="66"/>
                <entry key="VK" value="87"/>
                <entry key="RB" value="89"/>
                <entry key="AS" value="76"/>
            </map>
        </constructor-arg>
    </bean>
    <bean id="map" class="task1.ques1.assignment.map">	
        <constructor-arg ref="map1"/>
    </bean>

</beans>
